@model _99X_CBS.Models.CBS_Bonuses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CBS_Bonuses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonus_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonus_Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus_Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetRowID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetRowID)
        </dd>-->

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
