@model _99X_CBS.Models.SelectUserRolesViewModel

@{
    ViewBag.Title = "User Roles";
}
<script src="../../Scripts/jquery-1.10.2.min.js"> </script> 
<h2>Roles for user @Html.DisplayFor(model => model.UserName)</h2>
<hr />
  
@using (Html.BeginForm("UserRoles", "Account", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" , id="myForm" }))
{
    @Html.AntiForgeryToken()
  
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="form-group">
            <div class="col-md-10">
                @Html.HiddenFor(model => model.UserName)
            </div>
        </div>
  
        <h4>Select Role Assignments</h4>
        <br />
        <hr />
  
        <table>
            <tr>
                <th>
                    Select
                </th>
                <th>
                    Role
                </th>
            </tr>
            @Html.EditorFor(model => model.Roles)
        </table>
        <br />
        <hr />
  
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
<script >


    $(document).ready(function () {
        var adminCheckBox = $('#Roles_0__Selected').is(':checked');
        if (adminCheckBox) {
            $(":checkbox").prop('disabled', true);
            $(":checkbox").prop('checked', 'checked');
            $('#Roles_0__Selected').prop('disabled', false);
        }
        else {
            $(":checkbox").prop('disabled', false);
            $(":checkbox").prop('checked', false);
        }
    });

    $('#Roles_0__Selected').click(function () {
        var adminCheckBox = $('#Roles_0__Selected').is(':checked');
        if (adminCheckBox) {
            $(":checkbox").prop('disabled', true);
            $(":checkbox").prop('checked', 'checked');
            $('#Roles_0__Selected').prop('disabled', false);
        }
        else
        {
            $(":checkbox").prop('disabled', false);
            $(":checkbox").prop('checked', false);
        }

    });

    $("#myForm").submit(function (event) {
        $(":checkbox").prop('disabled', false);
        event.preventDefault();
    });
</script>
}

