@model _99X_CBS.Models.CBS_Attendances

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CBS_Attendances</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Average_InTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Average_InTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Average_OutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Average_OutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weekends_Worked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weekends_Worked)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medical_Leaves_Taken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medical_Leaves_Taken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Casual_Leaves_Taken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Casual_Leaves_Taken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Annual_Leaves_Taken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Annual_Leaves_Taken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lieu_Leaves_Taken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lieu_Leaves_Taken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Number_of_Days_Reported_to_Work)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_of_Days_Reported_to_Work)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetRowID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetRowID)
        </dd>-->

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
