@model IEnumerable<_99X_CBS.Models.CBS_Employees>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!--<p>
    @Html.ActionLink("Create New", "Create")
</p>-->
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Designation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Joined)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Career_Started_On)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appraisal_Score)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr onclick="document.location = '/CBS/Employee/Details/@item.ID';">
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Joined)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Career_Started_On)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appraisal_Score)
        </td>
        <td>
<!--            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |-->
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
           <!-- @Html.ActionLink("Delete", "Delete", new { id=item.ID })-->
        </td>
    </tr>
}

</table>
