@model _99X_CBS.Models.CBS_EmployeeBillingUtilization

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CBS_EmployeeBillingUtilization</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.From_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.From_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.To_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.To_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Billing_Utilization)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Billing_Utilization)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

        <!--<dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetRowID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetRowID)
        </dd>-->

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
