@model IEnumerable<_99X_CBS.Models.CBS_PublicAppearences>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Appearance_Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Session_Topic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Number_Of_Participants)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmpID)
        </th>
        <!--<th>
            @Html.DisplayNameFor(model => model.Approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditedBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TargetRowID)
        </th>-->
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Appearance_Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session_Topic)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Number_Of_Participants)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpID)
        </td>
        <!--<td>
            @Html.DisplayFor(modelItem => item.Approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EditedBy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TargetRowID)
        </td>-->
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) 
            @if(User.IsInRole("Admin") || User.IsInRole("Manager")||User.IsInRole("CBS_PublicAppearences_Manage")){
                @Html.Raw("|")
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            }
        </td>
    </tr>
}

</table>
