@model _99X_CBS.Models.CBS_SalaryInformation

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CBS_SalaryInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentSalaryAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentSalaryAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EPF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EPF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ETF)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETF)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmpID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmpID)
        </dd>

       <!-- <dt>
            @Html.DisplayNameFor(model => model.Approved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Approved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TargetRowID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TargetRowID)
        </dd>-->

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
